<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0 hbgg">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{DSSConfigurationData.CONFIG_ID?'Update':'Create'}} Configuration</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <!-- <mat-icon>close</mat-icon> -->
                <img src="/assets/images/icons/outline_close.png" style="height: 24px;width: 24px;">
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <form name="ConfigurationForm" [formGroup]="ConfigurationFormGroup" fxLayout="column" fxFlex>
            <mat-form-field>
                <mat-select placeholder="Document Type" [(value)]="selectedDocumentType"
                    (selectionChange)="GetDocumentType($event.value)" formControlName="DocumentType"
                    [disabled]="DSSConfigurationData.CONFIG_ID" required>
                    <!-- <mat-option value="INV">INV</mat-option> -->
                    <mat-option *ngFor="let output of AllDocumentTypes" [(value)]="output.Doc_Type_Name">
                        {{output.Doc_Type_Name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="Config1" placeholder="Configuaration 1(Plant)" formControlName="Config1"
                    [disabled]="DSSConfigurationData.CONFIG_ID" required>
                <mat-error
                    *ngIf="ConfigurationFormGroup.get('Config1').touched && ConfigurationFormGroup.get('Config1').hasError('required')">
                    Configuaration 1 is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="Config2" placeholder="Configuaration 2(Sales Organization)"
                    formControlName="Config2" [disabled]="DSSConfigurationData.CONFIG_ID" required>
                <mat-error
                    *ngIf="ConfigurationFormGroup.get('Config2').touched && ConfigurationFormGroup.get('Config2').hasError('required')">
                    Configuaration 2 is required
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field>
               <mat-select placeholder="Configuaration 3(Output Type)" [(value)]="SelectOutPutType"  formControlName="Config3"
                        [disabled]="DSSConfigurationData.CONFIG_ID" required>
                        <mat-option value="ZDES">ZDES</mat-option>
                        <mat-option value="ZCUS">ZCUS</mat-option>
                        <mat-option value="ZVEN">ZVEN</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ConfigurationFormGroup.get('Config3').touched && ConfigurationFormGroup.get('Config3').hasError('required')">
                        Configuaration 3 is required
                    </mat-error>
                </mat-form-field> -->
            <!-- <mat-select placeholder="Configuaration 3(Output Type)"   formControlName="Config3"
                        [disabled]="DSSConfigurationData.CONFIG_ID" required>
                        <mat-option *ngFor="let output of OutputTypeList" [(value)]="output.SelectOutPutType">{{output.SelectOutPutType}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ConfigurationFormGroup.get('Config3').touched && ConfigurationFormGroup.get('Config3').hasError('required')">
                        Configuaration 3 is required
                    </mat-error>
                </mat-form-field> -->
            <mat-form-field>
                <input matInput name="Config3" placeholder="Configuaration 3(Output Type)" formControlName="Config3"
                    [disabled]="DSSConfigurationData.CONFIG_ID" required>
                <mat-error
                    *ngIf="ConfigurationFormGroup.get('Config3').touched && ConfigurationFormGroup.get('Config3').hasError('required')">
                    Configuaration 3 is required
                </mat-error>
            </mat-form-field>
            <!-- <div style="margin:10px 0px;color: rgba(0, 0, 0, 0.54)">
                <mat-label class="h3">Auto sign * </mat-label>
                <mat-radio-group formControlName="AutoSign" required>
                    <mat-radio-button value='1'>Yes</mat-radio-button>
                    <mat-radio-button value='0'>No</mat-radio-button>
                </mat-radio-group>
                <mat-error
                    *ngIf="ConfigurationFormGroup.get('AutoSign').touched && ConfigurationFormGroup.get('AutoSign').hasError('required')">
                    Auto sign is required
                </mat-error>
            </div> -->
            <mat-form-field>
                <mat-select placeholder="Signed Authority" (selectionChange)="SignedAuthoritySelected($event.value)"
                    [disabled]="DSSConfigurationData.CONFIG_ID" formControlName="Authority" required>
                    <mat-option *ngFor="let ema of AllAuthority" [value]="ema.UserName">{{ema.UserName}}
                        <!-- - {{ema.Priority}} -->
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="ConfigurationFormGroup.get('Authority').touched && ConfigurationFormGroup.get('Authority').hasError('required')">
                    Signed Authority required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Certificate Name" formControlName="CertificateName"
                    (selectionChange)="GetExpiryDate($event.value)" required>
                    <mat-option *ngFor="let cert of AllCertificates" [value]="cert.CertificateName">
                        {{cert.CertificateName}}</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="ConfigurationFormGroup.get('CertificateName').touched && ConfigurationFormGroup.get('CertificateName').hasError('required')">
                    Certificate Name required
                </mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
                <input matInput placeholder="Expiry Date" [matDatepicker]="picker2" formControlName="ExpiryDate"
                    required readonly [disabled]="!DSSConfigurationData.CONFIG_ID">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                <mat-error
                    *ngIf="ConfigurationFormGroup.get('ExpiryDate').touched && ConfigurationFormGroup.get('ExpiryDate').hasError('required')">
                    Expiry Date is required
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field>
                <input matInput [matDatepicker]="picker" formControlName="ExpiryDate" placeholder="Expiry Date"
                    required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                *ngIf="ConfigurationFormGroup.get('ExpiryDate').touched && ConfigurationFormGroup.get('ExpiryDate').hasError('required')">
                Expiry Date is required
            </mat-error>
            </mat-form-field> -->
            <mat-form-field>
                <input matInput name="Display Title1" placeholder="Display Title1" formControlName="DisplayTitle1">
                <mat-error
                    *ngIf="ConfigurationFormGroup.get('DisplayTitle1').touched && ConfigurationFormGroup.get('DisplayTitle1').hasError('required')">
                    Display Title1 is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="Display Title2" placeholder="Display Title2" formControlName="DisplayTitle2">
                <mat-error
                    *ngIf="ConfigurationFormGroup.get('DisplayTitle2').touched && ConfigurationFormGroup.get('DisplayTitle2').hasError('required')">
                    Display Title2 is required
                </mat-error>
            </mat-form-field>
        </form>
    </div>

    <mat-dialog-actions class="m-0 p-16" fxLayoutAlign="space-between center">
        <button mat-button type="button" class="hbo" (click)="CloseClicked()">Cancel</button>
        <button mat-button type="button" class="hbg" (click)="YesClicked()">Yes</button>
    </mat-dialog-actions>
</div>